ALPACA_API_KEY=your_paper_api_key_here
ALPACA_SECRET_KEY=your_paper_secret_key_here
ALPACA_BASE_URL=https://paper-api.alpaca.markets
ALPACA_DATA_URL=https://data.alpaca.markets
ALPACA_LIVE_TRADE=false

POLL_INTERVAL=60
MAX_DAILY_DRAWDOWN=2.0
MAX_POSITION_PCT=5.0
MAX_LEVERAGE=1.0
TRADE_SYMBOLS=SPY,QQQ,TLT,GLD
